{# Example 4.4: Trimmed with pluralization #}
{% trans trimmed count=items|length %}
  You have selected
  {{ count }} item
  for processing.
{% pluralize %}
  You have selected
  {{ count }} items
  for processing.
{% endtrans %}
