{# Find Usages / Go to Declaration validation sample #}

{% set user = "hello" %}
{{ user }}
{{ user|upper }}

{% for item in items %}
  {{ item }}
{% endfor %}

{% set a, b = pair %}
{{ a }}
{{ b }}
