{# ============================= #}
{# Invalid semantically, valid   #}
{# syntactically                 #}
{# ============================= #}

{% set = 1 %}
{% set a = %}
{% set a b = 1 %}
{% set a == 1 %}
{% set a = ( %}
{% set a = unknown_func( %}
